.tbl
  {
  width             :640;

  }

.baner
  {
  background-color  :blue;
  font-family       : 'ÇlÇr ÉSÉVÉbÉN'; 
  font-size         :18pt;
  color             :#F8F8FF
  }

.data
  {
  font-size         :14pt;
  font-style        :normal;
  color             :#303050;
  font-weight       :normal;
  text-align        :left;
  line-height       :18pt;
  }

 .indt
  {
  text-indent       :14pt;
  width             :620px;
  }

 .jump_b
 {
 font-size         :12pt;
 }
